*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "Metropolis";
	src: url('../fonts/Metropolis-Light.otf');
}

body {
	font-family: "Metropolis", sans-serif;
	background-color: #070301;
}

.navbar {
  width: 100%;
  overflow: auto;
}

#logo {
	position: flex;
	top: 0;
	left: 0;
	display: flex;
	justify-content: left;
}

.container {
	display: flex;
	justify-content: right;
	top: 0;
	left: 0;
	position: flex;
}

#icon {
	justify-content: right;
	vertical-align: top;
	display: inline-block;
}

.MealQr {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}

.loaded.MealQr {
	opacity: 1;
}

.MealQrStatus {
	position: absolute;
	top: 50%;
	margin-top: -20rem;
	z-index: 2;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

.MealQrStatus i {
	font-size: 100px;
	opacity: 0;
	transform: scale(0.3);
	transition: all 0.2s ease-in-out;
	position: absolute;
	width: 100px;
	margin-left: -50px;
}

.MealQr_Yes .fa-heart {
	opacity: 0.7;
	transform: scale(1);
}

.MealQr_No .fa-remove {
	opacity: 0.7;
	transform: scale(1);
}

.MealQrCards {
	flex-grow: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	z-index: 1;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.MealQrCard {
	display: inline-block;
	width: 90vw;
	max-width: 400px;
	height: 70vh;
	background: #FFFFFF;
	padding-bottom: 40px;
	border-radius: 8px;
	overflow: hidden;
	position: absolute;
	will-change: transform;
	transition: all 0.3s ease-in-out;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	display: flex;
	justify-content: center;
	text-align: left;
	align-items: center;
	overflow: hidden
}

.moving.MealQrCard {
	transition: none;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

.MealQrCard img {
	min-width: 100%;
	min-height: 100%;
	pointer-events: none;
	flex-shrink: 0;
}

.MealQrCard h3 {
	margin-top: 30rem;
	font-size: 32px;
	pointer-events: none;
	color: white;
	position: absolute;
	float: left;
	align-items: flex-end;
}

.MealQrCard p {
	margin-top: 35rem;
	font-size: 20px;
	padding: 0 16px;
	pointer-events: none;
	color: white;
	position: absolute;
}

.MealQrButtons {
	flex: 0 0 100px;
	text-align: center;
	z-index: 500;
	padding-bottom: 5rem;
}

.MealQrButtons button {
	border-radius: 50%;
	line-height: 60px;
	width: 60px;
	border: 0;
	background: #FFFFFF;
	display: inline-block;
	margin: 0 8px;
}

.MealQrButtons button:focus {
	outline: 0;
}

.MealQrButtons i {
	font-size: 32px;
	vertical-align: middle;
}

.fa-heart {
	color: #FABB0E;
}

.fa-remove {
	color: #FABB0E;
}