[class*="entypo-"]:before {
	font-family: "Metropolis", sans-serif;
}

html {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "Metropolis";
	src: url('../fonts/Metropolis-Light.otf');
}

@font-face {
	font-family: "Metropolis-Thin";
	src: url('../fonts/Metropolis-ExtraLight.otf');
}

body {
	background-color: #ecf0f1;
	font-family: "Metropolis", sans-serif;
	background-color: #013A6B;
	background-image: -webkit-linear-gradient(130deg, #FFF 50%, #FABB0E 50%);
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 100;
	color: white;
	font-family: "Metropolis";
}

h1,
.sub-heading {
	text-align: center;
	margin: 0.5rem 0 1rem;
}

.sub-heading {
	font-size: 0.75em;
	font-weight: 300;
}

#logo {
	position: flex;
	top: 0;
	right: 0;
	display: flex;
	justify-content: right;
}

/*Justify Grid [http://justifygrid.com/]*/
._grid {
	text-align: right;
	font-size: 0 !important;
	text-rendering: optimizespeed;
	border-radius: 25px;
	background-color: black;
	opacity: 0.8;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

._grid:after {
	content: "";
	display: inline-block;
	width: 100%;
}

._column {
	display: inline-block;
	vertical-align: top;
	font-size: medium;
	text-align: left;
	text-rendering: optimizeLegibility;
}

.form-group button {
	outline: none;
	background: #FABB0E;
	width: 100%;
	border: 0;
	border-radius: 20px;
	padding: 12px 20px;
	color: #000000;
	font-family: "Metropolis-Thin", sans-serif;
	font-size: 30px;
	font-weight: 100;
	color: white;
	line-height: inherit;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.8;
	position: absolute;
	bottom: 0;
	left: 0;
}

/*promocode button*/
.form-group button2 {
	outline: none;
	background: #FABB0E;
	width: 100%;
	height: 70%;
	position: relative;
	border: 0;
	border-radius: 20px;
	padding: 12px 20px;
	color: #FFF;
	font-family: "Metropolis", sans-serif;
	font-size: inherit;
	font-weight: 100;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin: auto;
	margin-right: 5px;
	line-height: 1em;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*button +/- */
._btn {
	display: inline-block;
	background-color: #FABB0E;
	border: none;
	padding: .5em .75em;
	text-align: center;
	font-weight: 300;
	font-family: "Metropolis", sans-serif;
}

._btn:hover,
.cart-totals:hover ._btn {
	background-color: #FABB0E;
	color: #ecf0f1;
}


/**
 * @section: shopping-cart;
 */
.shopping-cart {
	width: 80%;
	max-width: 60rem;
	margin: 0 auto;
	font-family: "Metropolis", sans-serif;
}

/**
 * @extends: _grid;
 */
.shopping-cart--list-item {
	/*border: 1px solid #bdc3c7;*/
	margin-bottom: 3rem;
	height: 10rem;
	overflow: hidden;
}

.shopping-cart--list-item>._column {
	height: 100%;
	/* make vertical lines match */
}

/**
 * @section: product-image;
 * @extends: _column;
 */
.product-image {
	width: 16.663198%;
	background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") no-repeat center / cover transparent;
}

/**
 * @section: product-info;
 * @extends: _column;
 */
.product-info {
	width: 70.832119%;
	padding: 0.5rem;
	font-family: "Metropolis", sans-serif;
}

.product-name {
	font: inherit;
	letter-spacing: -0.025em;
	margin: 0 0 0.125em;
	font-family: "Metropolis", sans-serif;
}

.price {
	line-height: 1;
	text-align: right;
	font-family: "Metropolis", sans-serif;
}

.product-single-price {
	margin-top: -1rem;
	font-size: 2.4em;
	font-family: "Metropolis", sans-serif;
}

.product-modifiers {
	width: 12.496358%;
	text-align: right;
	border-left: 1px solid #bdc3c7;
	font-family: "Metropolis", sans-serif;
}

.product-subtract,
.product-plus,
.product-qty {
	width: 33.330557%;
	background-color: transparent;
	color: #FFF;
	text-align: center;
	font-family: "Metropolis", sans-serif;
}

.product-qty {
	padding: 0.35em 0.75em;
	font-family: "Metropolis", sans-serif;
}

.product-remove {
	font-size: 0.875em;
	margin-top: 3.35rem;
	background-color: #FABB0E;
	color: #FFF;
	width: 100%;
	visibility: hidden;
	font-family: "Metropolis", sans-serif;
}

.product-modifiers:hover .product-remove {
	visibility: visible;
}

.product-remove:before {
	margin-right: 0.5em;
}

.product-remove:hover {
	background-color: #c0392b;
}

.product-total-price {
	color: #95a5a6;
	font-size: 1.25em;
	padding: 0.5rem;
}

/*promo code*/
.form-group {
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px;
	background-color: black;
	opacity: 0.8;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-group:last-child {
	margin: 0;
}

.form-group label {
	display: block;
	margin: 0 0 10px;
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #FFFFFF;
	position: relative;
	margin-top: auto;
	line-height: 1em;
	text-align: center;
}

.form-group input {
	outline: none;
	display: block;
	background: #000000;
	width: 100%;
	border: 0;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 12px 20px;
	color: #FFFFFF;
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	line-height: inherit;
	position: relative;
}

.form-group input::after {
	position: absolute;
}

.cart-totals {
	margin-bottom: 3rem;
}

.cart-totals ._column {
	width: 19.984013%;
	padding: 0.5rem;
	line-height: 1.2;
	grid-row: 1 / span 2;
	grid-row-start: auto;
}

.cart-totals ._column:not(:last-of-type) {
	border-right: 1px solid #FFF;
}

.cart-totals ._column:first-of-type {
	padding-left: 0;
}

.cart-totals-key {
	font-size: 1.125em;
	color: #FFF;
}

.cart-totals ._column:hover .cart-totals-value,
.cart-totals ._column:hover .cart-totals-key {
	color: #FFF;
}

.cart-totals-value {
	font-size: 2em;
	color: #FFF;
}

/* Animations */
.product-remove,
.cart-totals * {
	transition: all 0.2s ease;
}

.closing {
	transition: all 0.5s ease;
	transform: translate3d(0, -100%, 0);
	opacity: 0;
}

#container2 {
	position: relative;

}